.btn {
  font-size: $btn-font-size;
  width: $btn-width;
  color: $btn-font-color;
  padding: 0.6rem;
  text-align: center;
  border: none;
  border-radius: 5px;
  transition: background-color 200ms linear;

  &--blue {
    background-color: $btn-blue;

    &:hover {
      background-color: darken($btn-blue, 10%);
    }
  }

  &--red {
    background-color: $btn-red;

    &:hover {
      background-color: darken($btn-red, 10%);
    }
  }

  &:disabled {
    cursor: not-allowed;
    background-color: $btn-grey;
  }
}

.btn--close-modal {
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  border: 0;
  background: transparent;
  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.8);
  }
}

.btn--tools-icon,
.btn--close-tag {
  background: transparent;
  transition: filter 0.2s;
  border: none;

  :hover {
    filter: brightness(0.8);
  }
}
