.react__modal__overlay {
  background: $thm-overlay;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.react__modal__content {
  width: 100%;
  max-width: 500px;
  background: $thm-background;
  padding: 3rem;
  position: relative;
  border-radius: 0.24rem;

  form {
    display: flex;
    flex-direction: column;

    input,
    textarea {
      margin-bottom: 1rem;
    }

    button {
      margin-top: 1rem;
      align-self: flex-end;
    }
  }
}

.modal__remove {
  display: flex;
  flex-direction: column;

  &__header {
    align-items: center;

    svg {
      margin: 0 1rem 3px 0;
    }
  }

  p {
    font-size: 1.2rem;
    margin: 2.5rem 0;
    text-align: center;
  }

  button {
    align-self: flex-end;
  }

  &__header {
    display: flex;

    img {
      margin-right: 1rem;
    }
  }
}
