.tags {
  width: 100%;
  padding: 2rem;

  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tag {
  padding: 0.5rem;
  border: 1px solid $tag-border-color;
  border-radius: 5px;

  background: none;
  color: $thm-text;
  font-weight: 600;
  transition: background-color 200ms linear;

  &:hover {
    transition: background-color 200ms linear;
    background-color: $tag-hover-color;
  }
}
