$thm-background: #fff;
$thm-link: #2497b2;
$thm-text: #170c3a;

//Buttons
$btn-font-size: 1rem;
$btn-font-color: #fff;
$btn-height: 3.1rem;
$btn-width: 11rem;
$btn-red: #f95e5a;
$btn-blue: #365df0;

//Inputs
$input-placeholder: #b1adb9;
$input-height: 3.1rem;
$input-width: 25rem;
$input-color: #dedce1;
