.container {
  margin-top: 2rem;
  padding: 0 2rem;
  width: 100%;

  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  h1 {
    font-size: 2rem;
  }

  &__search {
    display: flex;
    width: 100%;
    max-width: $home-width;
    justify-content: space-between;
    margin: 3.75rem 0;
  }
}

.list__tool-card {
  margin-bottom: 2rem;
}
